body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #1f2937;
    color: white;
    margin: 0;
}

.container-section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 40px;
}

.header {
    width: 100%;
    max-width: 800px;
    font-size: 24px;
    font-weight: 900;
}

.nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 1rem;
    white-space: nowrap;
}

a:link, a:visited, a:hover, a:active {
    color: rgba(255, 255, 255, 0.887);
    text-decoration: none;
    font-size: 18px;
}

.code-image {
    width: 600px;
    max-width: none;       /* stop it auto-scaling smaller */
    flex: 0 0 auto;        /* don't grow, don't shrink */
    height: auto;
}

.container-section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;             /* optional spacing */
    line-height: 1.2;

    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 40px;
}

.intro {
    display: flex;
    flex-direction: column;
}

.hero {
    font-size: 48px;
    font-weight: 900;
}

.text {
    font-size: 18px;
    margin: 10px 0;
}

.button1 {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 5px 20px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    width: 8rem;
    height: auto;
}

.container-section3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 40px;
}

.random {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}

.boxes-info {
    display: flex;
    gap: 1rem;

    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: hidden;
}

.box-container1,
.box-container2,
.box-container3,
.box-container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 280px; /* don't grow, can shrink, base width 280px */
}

.description {
    text-align: center;
    width: 0;
    min-width: 100%;
}

.box {
    background-color: #374151;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
}

.pirates {
    width: 280px;
    height: 280px;
    border-radius: 8px;
    object-position: center;
    border-radius: 8px;
    display: block;
}

.container-section4 {
    display: flex;
    flex-direction: column;

    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 40px;
}

.inspiring {
    font-size: 38px;
    font-style: italic;
    line-height: 1.3;
}

.quote {
    font-size: 16px;
    font-style: italic;
    text-align: right;
}

.container-section5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 40px;
}

.cta-heading {
    font-size: 24px;
    font-weight: 700;
}

.cta-text {
    font-size: 16px;
    font-weight: 400;
}

.button2 {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 5px 20px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    width: 12rem;
    height: auto;
}