body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #1f2937;
    color: white;
    margin: 10px 150px;
}

.container-section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 100%;
    max-width: 800px;
    font-size: 24px;
    font-weight: 900;
}

.nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 1rem;
    white-space: nowrap;
}

a:link, a:visited, a:hover, a:active {
    color: rgba(255, 255, 255, 0.887);
    text-decoration: none;
    font-size: 18px;
}

img {
    width: 600px;
    max-width: none;       /* stop it auto-scaling smaller */
    flex: 0 0 auto;        /* don't grow, don't shrink */
    height: auto;
}

.container-section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;             /* optional spacing */
    line-height: 1.2;
    padding: 20px 0px;
}

.intro {
    display: flex;
    flex-direction: column;
}

.hero {
    font-size: 48px;
    font-weight: 900;
}

.text {
    font-size: 18px;
    margin: 10px 0;
}

button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 5px 20px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    width: 8rem;
    height: auto;
}

.container-section3 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}

.boxes-info {
    display: flex;
    gap: 1rem;
}

.box {
    background-color: #374151;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
}